<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="100050" id="org.gipilab.simulateuremprunts" version="1.0.5" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Simulateur d'emprunts</name>
    <description>
	    Calculer le taux, la durée, l'échéance et le capital d'un emprunt.
    </description>
    <author email="thibault@gipilab.org" href="https://gipilab.org">
        Thibault Mondary, Laboratoire de Recherche pour le Développement Local
    </author>
    <icon density="ldpi" src="www/icons/simulateuremprunt-36.png" />
    <icon density="mdpi" src="www/icons/simulateuremprunt-48.png" />
    <icon density="hdpi" src="www/icons/simulateuremprunt-72.png" />
    <icon density="xhdpi" src="www/icons/simulateuremprunt-96.png" />
    <icon density="xxhdpi" src="www/icons/simulateuremprunt-144.png" />
    <icon density="xxxhdpi" src="www/icons/simulateuremprunt-192.png" />
    <content src="index.html" />
    <access origin="http://gipilab.org/*" />
    <allow-navigation href="http://gipilab.org/*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-datepicker" spec="^0.9.3" />
    <plugin name="cordova-plugin-dialogs" spec="^2.0.1" />
    <plugin name="cordova-plugin-inappbrowser" spec="^3.0.0" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-progressindicator" spec="https://github.com/pbernasconi/cordova-progressIndicator.git" />
    <engine name="android" spec="latest" />
</widget>
